Repository manavgup/rag_modulo: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-poetry-check, validate-ci-environment-fixes, check-test-isolation, check-strangler-compliance

python-poetry-check:
  name: Check poetry configuration
  entry: bash -c 'cd backend && poetry check'
  language: system
  pass_filenames: false

validate-ci-environment-fixes:
  name: Validate CI environment configuration
  entry: python scripts/validate_ci_fixes.py
  language: system
  pass_filenames: false

check-test-isolation:
  name: Check test isolation violations
  entry: python scripts/check_test_isolation.py
  language: system
  pass_filenames: false

check-strangler-compliance:
  name: Check strangler pattern compliance for new/modified files
  entry: python scripts/check_strangler_compliance.py
  language: system
  pass_filenames: false
  stages:
  - push

docs: Update custom voice documentation with phased implementation strategy
  CUSTOM_VOICE_IMPLEMENTATION_PROGRESS.md
  docs/api/index.md
  docs/api/voice_api.md
Due: none

feat: Add voice management service for Phase 1 (Issue #394)
  backend/rag_solution/services/voice_service.py
Due: check-strangler-compliance

feat: Add voice API router with 7 REST endpoints (Issue #394)
  backend/main.py
  backend/rag_solution/router/voice_router.py
Due: check-strangler-compliance

fix: resolve CI/CD disk space issues
  .github/workflows/01-lint.yml
  .github/workflows/04-pytest.yml
Due: none

ci: reduce disk usage in unit tests (free space + test-only deps)
  .github/workflows/04-pytest.yml
Due: none

ci: install main+test deps (skip dev), add disk check, fix step comments
  .github/workflows/04-pytest.yml
Due: none

ci: address PR review — remove --no-root/--no-cache, configurable MIN_FREE_GB
  .github/workflows/04-pytest.yml
Due: none

ci: clarify deps rationale, fix disk check step name and int parsing
  .github/workflows/04-pytest.yml
Due: none

ci: robust disk check (bytes), set MIN_FREE_GB=7, safe parallel cleanup
  .github/workflows/04-pytest.yml
Due: none

ci: reduce disk usage in unit tests (free space + test-only deps) (#412)
  .github/workflows/04-pytest.yml
Due: none

fix: Remove duplicate workflow checks and simplify CI for PR #410
  .github/workflows/01-lint.yml
  .github/workflows/terraform-ansible-validation.yml
Due: none

fix: Fix YAML syntax and line length issues in workflows
  .github/workflows/04-pytest.yml
  .github/workflows/deploy_code_engine.yml
Due: none

fix: Address deployment review items from PR #411
  .github/workflows/deploy_code_engine.yml
  .github/workflows/terraform-ansible-validation.yml
  deployment/ansible/group_vars/all/main.yml
  deployment/ansible/inventories/ibm/hosts.yml
  deployment/ansible/playbooks/deploy-rag-modulo.yml
  deployment/ansible/tests/test_deploy.yml
  deployment/scripts/backup-rag-modulo.sh
  deployment/scripts/restore-rag-modulo.sh
  deployment/terraform/modules/ibm-cloud/code-engine/outputs.tf
Due: none

fix: Critical security improvements for backup/restore scripts and test fixes
  backend/tests/unit/test_settings_dependency_injection.py
  deployment/scripts/backup-rag-modulo.sh
  deployment/scripts/restore-rag-modulo.sh
Due: check-test-isolation, check-strangler-compliance

fix: Resolve CI failures and enhance Milvus backup capabilities
  backend/tests/test_settings_acceptance.py
  backend/tests/unit/test_settings_dependency_injection.py
  deployment/scripts/backup-rag-modulo.sh
  deployment/scripts/restore-rag-modulo.sh
Due: check-test-isolation, check-strangler-compliance

fix: Make tests work in both local and CI environments
  backend/tests/test_settings_acceptance.py
  backend/tests/unit/test_settings_dependency_injection.py
Due: check-test-isolation, check-strangler-compliance

fix: Resolve Ruff/isort conflict with manual import formatting
  backend/tests/unit/test_settings_dependency_injection.py
Due: check-test-isolation, check-strangler-compliance

fix: Add isort configuration for Ruff compatibility
  backend/pyproject.toml
Due: python-poetry-check

fix: Address deployment review items from PR #411 (#413)
  .github/workflows/deploy_code_engine.yml
  .github/workflows/terraform-ansible-validation.yml
  backend/pyproject.toml
  backend/tests/test_settings_acceptance.py
  backend/tests/unit/test_settings_dependency_injection.py
  deployment/ansible/group_vars/all/main.yml
  deployment/ansible/inventories/ibm/hosts.yml
  deployment/ansible/playbooks/deploy-rag-modulo.yml
  deployment/ansible/tests/test_deploy.yml
  deployment/scripts/backup-rag-modulo.sh
  deployment/scripts/restore-rag-modulo.sh
  deployment/terraform/modules/ibm-cloud/code-engine/outputs.tf
Due: python-poetry-check, check-test-isolation, check-strangler-compliance

feat: Add chunk count to collection API responses
  backend/rag_solution/repository/collection_repository.py
  backend/rag_solution/schemas/collection_schema.py
  backend/rag_solution/services/collection_service.py
  frontend/src/services/apiClient.ts
Due: check-strangler-compliance

fix: Apply Ruff formatting to match CI requirements
  backend/rag_solution/repository/collection_repository.py
  backend/rag_solution/services/collection_service.py
Due: check-strangler-compliance

fix: Align all linting tools to use line-length=120
  .pre-commit-config.yaml
  backend/pyproject.toml
Due: python-poetry-check

chore: Add test hooks to pre-commit (test-atomic and test-unit-fast)
  .pre-commit-config.yaml
Due: none

fix: Address PR #415 review comments - vector store abstraction, performance, and tests
  backend/rag_solution/schemas/collection_schema.py
  backend/rag_solution/services/collection_service.py
  backend/tests/test_settings_acceptance.py
  backend/tests/unit/services/test_collection_service_chunk_count.py
  backend/tests/unit/test_settings_dependency_injection.py
  backend/vectordbs/chroma_store.py
  backend/vectordbs/elasticsearch_store.py
  backend/vectordbs/milvus_store.py
  backend/vectordbs/pinecone_store.py
  backend/vectordbs/vector_store.py
  backend/vectordbs/weaviate_store.py
Due: check-test-isolation, check-strangler-compliance

fix: Optimize pre-commit hooks and resolve Yoda condition linting error
  .pre-commit-config.yaml
  backend/tests/unit/services/test_collection_service_chunk_count.py
Due: check-test-isolation, check-strangler-compliance

fix: Align pre-commit with CI - use Ruff for linting/formatting
  .pre-commit-config.yaml
  backend/vectordbs/chroma_store.py
Due: check-strangler-compliance

feat: Add chunk count to collection API responses (#415)
  .pre-commit-config.yaml
  backend/pyproject.toml
  backend/rag_solution/repository/collection_repository.py
  backend/rag_solution/schemas/collection_schema.py
  backend/rag_solution/services/collection_service.py
  backend/tests/test_settings_acceptance.py
  backend/tests/unit/services/test_collection_service_chunk_count.py
  backend/tests/unit/test_settings_dependency_injection.py
  backend/vectordbs/chroma_store.py
  backend/vectordbs/elasticsearch_store.py
  backend/vectordbs/milvus_store.py
  backend/vectordbs/pinecone_store.py
  backend/vectordbs/vector_store.py
  backend/vectordbs/weaviate_store.py
  frontend/src/services/apiClient.ts
Due: python-poetry-check, check-test-isolation, check-strangler-compliance

fix: Comprehensive security fixes for authentication and authorization
  Makefile
  backend/rag_solution/repository/user_collection_repository.py
  backend/rag_solution/router/chat_router.py
  backend/rag_solution/router/collection_router.py
  backend/rag_solution/router/search_router.py
  backend/rag_solution/router/user_routes/file_routes.py
  backend/rag_solution/services/file_management_service.py
  backend/rag_solution/services/user_collection_service.py
  backend/tests/integration/conftest.py
  backend/tests/integration/test_podcast_generation_integration.py
  backend/tests/integration/test_voice_integration.py
  docker-compose.test.yml
Due: check-test-isolation, check-strangler-compliance

fix: Address PR #419 review feedback - path traversal, debug cleanup, JWT standardization
  backend/rag_solution/router/podcast_router.py
  backend/rag_solution/router/search_router.py
  backend/rag_solution/router/voice_router.py
  backend/rag_solution/services/file_management_service.py
Due: check-strangler-compliance

fix: Comprehensive security fixes for authentication and authorization (#419)
  Makefile
  backend/rag_solution/repository/user_collection_repository.py
  backend/rag_solution/router/chat_router.py
  backend/rag_solution/router/collection_router.py
  backend/rag_solution/router/podcast_router.py
  backend/rag_solution/router/search_router.py
  backend/rag_solution/router/user_routes/file_routes.py
  backend/rag_solution/router/voice_router.py
  backend/rag_solution/services/file_management_service.py
  backend/rag_solution/services/user_collection_service.py
  backend/tests/integration/conftest.py
  backend/tests/integration/test_podcast_generation_integration.py
  backend/tests/integration/test_voice_integration.py
  docker-compose.test.yml
Due: check-test-isolation, check-strangler-compliance

fix: resolve CI/CD disk space failures (#113)
  .github/workflows/05-ci.yml
  .github/workflows/poetry-lock-check.yml
  .github/workflows/publish.yml
  .pre-commit-config.yaml
  CLAUDE.md
Due: none

fix: resolve CI/CD disk space failures (#113) (#421)
  .github/workflows/05-ci.yml
  .github/workflows/poetry-lock-check.yml
  .github/workflows/publish.yml
  .pre-commit-config.yaml
  CLAUDE.md
Due: none

feat: Implement comprehensive secret scanning with 3-layer defense (#169)
  .github/dependabot.yml
  .github/workflows/02-security.yml
  .gitleaks.toml
  .secrets.baseline
  CLAUDE.md
  README.md
  docs/development/secret-management.md
Due: none

feat: Implement comprehensive secret scanning with 3-layer defense (#169) (#422)
  .github/dependabot.yml
  .github/workflows/02-security.yml
  .gitleaks.toml
  .secrets.baseline
  CLAUDE.md
  README.md
  docs/development/secret-management.md
Due: none

feat: Add message metadata footer to chat UI (Phase 1)
  frontend/src/components/search/LightweightSearchInterface.tsx
  frontend/src/components/search/MessageMetadataFooter.tsx
  frontend/src/components/search/SearchInterface.scss
Due: none

feat: Add source modal with prominent confidence badges (Phase 2)
  frontend/src/components/search/LightweightSearchInterface.tsx
  frontend/src/components/search/SearchInterface.scss
  frontend/src/components/search/SourceCard.tsx
  frontend/src/components/search/SourceModal.tsx
Due: none

feat: Add CoT and token visualization panels (Phases 3-5)
  frontend/src/components/search/ChainOfThoughtPanel.tsx
  frontend/src/components/search/ChainOfThoughtStep.tsx
  frontend/src/components/search/SearchInterface.scss
  frontend/src/components/search/TokenUsagePanel.tsx
Due: none

Path conditions:
  python-poetry-check: any of: ^backend/(pyproject\.toml|poetry\.lock)$
  validate-ci-environment-fixes: any of: ^(backend/auth/oidc\.py|backend/core/authentication_middleware\.py|docker-compose\.yml|\.github/workflows/ci\.yml|\.env\.ci)$
  check-test-isolation: any of: ^backend/tests/.*\.py$
  check-strangler-compliance: any of: ^(backend|scripts)/.*\.py$
