Repository manavgup/rag_modulo: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-poetry-check, validate-ci-environment-fixes, check-test-isolation, check-strangler-compliance

Path conditions:
  python-poetry-check: any of: ^backend/(pyproject\.toml|poetry\.lock)$
  validate-ci-environment-fixes: any of: ^(backend/auth/oidc\.py|backend/core/authentication_middleware\.py|docker-compose\.yml|\.github/workflows/ci\.yml|\.env\.ci)$
  check-test-isolation: any of: ^backend/tests/.*\.py$
  check-strangler-compliance: any of: ^(backend|scripts)/.*\.py$

fix: Remove 4 unused dependencies from production image (#333)
  backend/poetry.lock
  backend/pyproject.toml
Due: python-poetry-check

docs: Update README with containerless local development workflow
  README.md
Due: none

docs: Update README with containerless local development workflow (#347)
  README.md
Due: none

docs: Update README to reflect current production-ready state (#351)
  README.md
Due: none

docs: Update README to reflect current production-ready state (#351) (#352)
  README.md
Due: none

fix: Update devcontainer for containerless local development workflow
  .devcontainer/devcontainer.json
Due: none

ci: Disable Codespace testing for devcontainer changes
  .github/workflows/codespace-testing.yml
Due: none

fix: Update devcontainer for containerless local development workflow (#353)
  .devcontainer/devcontainer.json
  .github/workflows/codespace-testing.yml
Due: none

feat: Optimize CI/CD pipeline for faster PR feedback (#349)
  .github/workflows/ci.yml
  .github/workflows/pr-fast-check.yml
  .github/workflows/weekly-security-audit.yml
Due: validate-ci-environment-fixes

fix: Make TruffleHog scan non-blocking for unverified secrets
  .github/workflows/pr-fast-check.yml
Due: none

fix: Address CI/CD workflow review feedback
  .github/workflows/01-lint.yml
  .github/workflows/03-build-secure.yml
  .github/workflows/pr-fast-check.yml
  .github/workflows/security.yml
  .github/workflows/weekly-security-audit.yml
Due: none

fix: Fix TruffleHog flag error and restore linting checks
  .github/workflows/01-lint.yml
  .github/workflows/pr-fast-check.yml
Due: none

feat: Add Pylint and Pydocstyle to pr-fast-check.yml
  .github/workflows/pr-fast-check.yml
Due: none

fix: Stop building Docker containers on CI/CD workflow changes
  .github/workflows/03-build-secure.yml
Due: none

refactor: Simplify CI/CD to match IBM's focused workflow pattern
  .github/workflows/pr-fast-check.yml
  .github/workflows/pytest.yml
  .github/workflows/security.yml
Due: none

fix: Set MILVUS_HOST=localhost in pytest.yml for unit tests
  .github/workflows/pytest.yml
Due: none

fix: Update MILVUS_HOST to milvus-standalone for CI environment
  .github/workflows/pytest.yml
  backend/tests/test_environment_loading.py
Due: check-test-isolation, check-strangler-compliance

fix: Update test_acceptance_pytest_atomic_works to match actual default
  backend/tests/test_settings_acceptance.py
Due: check-test-isolation, check-strangler-compliance

chore: keep CLAUDE.md as it contains active project guidance
  CLAUDE.md
Due: none

fix: restore .gitignore security patterns and .env protection
  .gitignore
Due: none

chore: remove redundant env.example (keep .env.example as canonical)
  env.example
Due: none

feat: Add concurrency control to all PR workflows
  .github/workflows/01-lint.yml
  .github/workflows/pytest.yml
  .github/workflows/security.yml
Due: none

refactor: Rename workflows with numbered prefixes for clarity
  .github/workflows/02-security.yml
  .github/workflows/04-pytest.yml
  .github/workflows/05-ci.yml
  .github/workflows/06-weekly-security-audit.yml
Due: none

feat: Add frontend linting to CI/CD pipeline
  .github/workflows/07-frontend-lint.yml
Due: none

docs: Add IBM-style documentation to workflows
  .github/workflows/02-security.yml
  .github/workflows/04-pytest.yml
Due: none

docs: Update CLAUDE.md with new CI/CD structure
  CLAUDE.md
Due: none

docs: Add CI/CD optimization entry to CHANGELOG
  CHANGELOG.md
Due: none

feat: Optimize CI/CD pipeline for faster PR feedback (#354)
  .github/workflows/01-lint.yml
  .github/workflows/02-security.yml
  .github/workflows/03-build-secure.yml
  .github/workflows/04-pytest.yml
  .github/workflows/05-ci.yml
  .github/workflows/06-weekly-security-audit.yml
  .github/workflows/07-frontend-lint.yml
  CHANGELOG.md
  CLAUDE.md
  backend/tests/test_environment_loading.py
  backend/tests/test_settings_acceptance.py
Due: check-test-isolation, check-strangler-compliance

feat: Add comprehensive Jules setup support with Docker installation
  .jules/DOCKER_SETUP.md
  .jules/README.md
  .jules/SECRETS_GUIDE.md
  .jules/config-with-docker.yaml
  .jules/config.yaml
  .jules/setup-with-docker.sh
  .jules/setup.sh
  JULES_DOCKER_COMPARISON.md
  JULES_SETUP.md
  Makefile
  README.md
  docs/deployment/jules-setup.md
  env.jules.example
Due: none

fix: podcast generation endpoint - sync/async fixes and route correction
  backend/core/config.py
  backend/rag_solution/repository/podcast_repository.py
  backend/rag_solution/router/podcast_router.py
  backend/rag_solution/services/podcast_service.py
Due: check-strangler-compliance

fix: podcast content retrieval - use result.chunk.text instead of doc.chunk_text
  backend/rag_solution/services/podcast_service.py
Due: check-strangler-compliance

fix: LLMProviderFactory usage in podcast script generation
  backend/rag_solution/services/podcast_service.py
Due: check-strangler-compliance

fix: add template to podcast script generation
  backend/rag_solution/services/podcast_service.py
Due: check-strangler-compliance

fix: correct template schema for podcast script generation
  backend/rag_solution/services/podcast_service.py
Due: check-strangler-compliance

fix: allow speaker labels on separate lines in script parser
  backend/rag_solution/utils/script_parser.py
Due: check-strangler-compliance

fix: pre-commit auto-fixes for podcast service
  backend/rag_solution/generation/audio/openai_audio.py
  backend/rag_solution/services/podcast_service.py
Due: check-strangler-compliance

fix: pre-commit whitespace fixes
  backend/rag_solution/generation/audio/openai_audio.py
Due: check-strangler-compliance

fix: strip whitespace from OpenAI API key and add debug logging
  backend/rag_solution/generation/audio/factory.py
Due: check-strangler-compliance

docs: comprehensive podcast generation documentation
  CHANGELOG.md
  backend/AGENTS.md
  backend/rag_solution/AGENTS.md
  docs/features/index.md
  docs/features/podcast-generation.md
Due: none

fix: Correct mock setup in podcast service unit tests
  backend/tests/unit/test_podcast_service_unit.py
Due: check-test-isolation, check-strangler-compliance
