Repository manavgup/rag_modulo: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-ci-locally, python-poetry-check

.pre-commit-config.yaml:

# Pre-commit hooks configuration
repos:
  # Basic file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: ['--unsafe']  # Allow custom YAML tags in GitHub Actions
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: check-toml
      - id: check-json
      - id: debug-statements  # Find forgotten print/pdb statements
      - id: mixed-line-ending
        args: ['--fix=lf']

  # Python linting and formatting - Ruff (fast, modern, handles both)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.11
    hooks:
      - id: ruff
        args: ['--fix', '--exit-non-zero-on-fix', '--line-length=120']
        files: ^backend/
      - id: ruff-format
        args: ['--line-length=120']
        files: ^backend/
        
  # Python type checking - MyPy
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        args: [
          '--ignore-missing-imports',
          '--disable-error-code=misc',
          '--disable-error-code=unused-ignore',
          '--no-strict-optional'
        ]
        additional_dependencies:
          - pydantic>=2.0
          - types-setuptools
          - types-PyYAML
          - sqlalchemy-stubs
        files: ^backend/
        pass_filenames: true

  # GitHub Workflow validation
  - repo: https://github.com/sirosen/check-jsonschema
    rev: 0.28.0
    hooks:
      - id: check-github-workflows
        args: ["--verbose"]

  # Local validation
  - repo: local
    hooks:
      - id: validate-ci-locally
        name: Validate CI workflows can run locally
        entry: ./scripts/validate-ci.sh
        language: script
        files: ^\.github/workflows/.*\.ya?ml$
        pass_filenames: false
        
      - id: python-poetry-check
        name: Check poetry configuration
        entry: bash -c 'cd backend && poetry check'
        language: system
        files: ^backend/(pyproject\.toml|poetry\.lock)$
        pass_filenames: false

Add comprehensive linting and formatting setup matching mcp_auto_pr
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  Makefile
Due: validate-ci-locally

Fix CI: Install test group dependencies for pytest
  .github/workflows/ci.yml
Due: validate-ci-locally

Fix CI: Add required environment variables for tests
  .github/workflows/ci.yml
  Makefile
  github_issue_precommit_autofix.md
Due: validate-ci-locally

feat: Implement comprehensive code quality and linting infrastructure
  CODE_QUALITY_GUIDE.md
  Makefile
  backend/.ruff.toml
  backend/mypy.ini
  backend/poetry.lock
  backend/pyproject.toml
Due: python-poetry-check

fix: remove aggressive --exit-non-zero-on-fix from Ruff pre-commit hook
  .pre-commit-config.yaml
Due: none

feat: Implement Phase 1 Makefile improvements
  Makefile
Due: none

feat: Implement Phase 2 Makefile improvements - Security & Coverage
  .github/workflows/ci.yml
  Makefile
  backend/poetry.lock
  backend/pyproject.toml
  backend/rag_solution/evaluation/metrics.py
  backend/rag_solution/router/auth_router.py
Due: validate-ci-locally, python-poetry-check

feat: Implement Phase 3 Makefile improvements - Dependencies, Docs & UV
  Makefile
Due: none

feat: Add CLI-based Search Quality Testing Framework (#131)
  Makefile
  backend/cli/README.md
  backend/cli/__init__.py
  backend/cli/search_test.py
  backend/cli/utils.py
  backend/search_cli.py
  backend/test_data/search_queries.json
  backend/tests/cli/__init__.py
  backend/tests/cli/test_search_cli.py
Due: none

refactor: Phase 1 - Defensive Programming Foundation and Examples (#145)
  backend/rag_solution/core/dependencies.py
  backend/rag_solution/core/exceptions.py
  backend/rag_solution/repository/team_repository.py
  backend/rag_solution/repository/user_repository.py
  backend/rag_solution/router/user_routes/base.py
  backend/rag_solution/services/user_service.py
  github_issue_defensive_programming.md
Due: none

refactor: Phase 2 - Fix remaining repository patterns
  backend/rag_solution/repository/file_repository.py
  backend/rag_solution/repository/llm_model_repository.py
  backend/rag_solution/repository/llm_parameters_repository.py
  backend/rag_solution/repository/llm_provider_repository.py
  backend/rag_solution/repository/pipeline_repository.py
  backend/rag_solution/repository/prompt_template_repository.py
  backend/rag_solution/repository/question_repository.py
  backend/rag_solution/repository/user_collection_repository.py
  backend/rag_solution/repository/user_provider_repository.py
  backend/rag_solution/repository/user_team_repository.py
Due: none

Fix mypy linting issues: resolve unreachable code detection
  backend/rag_solution/data_ingestion/pdf_processor.py
  backend/rag_solution/services/question_service.py
Due: none

refactor: Phase 3 - Remove defensive programming from services
  backend/rag_solution/repository/user_collection_repository.py
  backend/rag_solution/repository/user_provider_repository.py
  backend/rag_solution/services/file_management_service.py
  backend/rag_solution/services/pipeline_service.py
  backend/rag_solution/services/team_service.py
Due: none

refactor: Phase 4 - Complete service layer defensive programming cleanup
  backend/rag_solution/services/file_management_service.py
  backend/rag_solution/services/pipeline_service.py
  backend/rag_solution/services/user_collection_interaction_service.py
  backend/rag_solution/services/user_collection_service.py
  backend/rag_solution/services/user_provider_service.py
  backend/rag_solution/services/user_team_service.py
Due: none

refactor: Phase 5 - Router authorization consolidation
  backend/rag_solution/core/dependencies.py
  backend/rag_solution/router/collection_router.py
  backend/rag_solution/router/user_routes/collection_routes.py
  backend/rag_solution/router/user_routes/file_routes.py
  backend/rag_solution/router/user_routes/llm_routes.py
  backend/rag_solution/router/user_routes/pipeline_routes.py
  backend/rag_solution/router/user_routes/prompt_routes.py
Due: none
