Repository manavgup/rag_modulo: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-poetry-check, validate-ci-environment-fixes, check-test-isolation, check-strangler-compliance

python-poetry-check:
  name: Check poetry configuration
  entry: bash -c 'cd backend && poetry check'
  language: system
  pass_filenames: false

validate-ci-environment-fixes:
  name: Validate CI environment configuration
  entry: python scripts/validate_ci_fixes.py
  language: system
  pass_filenames: false

check-test-isolation:
  name: Check test isolation violations
  entry: python scripts/check_test_isolation.py
  language: system
  pass_filenames: false

check-strangler-compliance:
  name: Check strangler pattern compliance for new/modified files
  entry: python scripts/check_strangler_compliance.py
  language: system
  pass_filenames: false
  stages:
  - push

fix: Address high priority issues in podcast service
  backend/core/config.py
  backend/rag_solution/schemas/podcast_schema.py
  backend/rag_solution/services/podcast_service.py
  env.example
Due: check-strangler-compliance

security: Fix critical security vulnerabilities in podcast service
  backend/rag_solution/generation/audio/factory.py
  backend/rag_solution/router/podcast_router.py
Due: check-strangler-compliance

refactor: Code quality improvements in podcast service
  backend/rag_solution/schemas/podcast_schema.py
  backend/rag_solution/services/podcast_service.py
  backend/tests/unit/test_podcast_service_unit.py
Due: check-test-isolation, check-strangler-compliance

fix: Podcast generation endpoint - complete pipeline fixes (#357)
  CHANGELOG.md
  backend/AGENTS.md
  backend/core/config.py
  backend/rag_solution/AGENTS.md
  backend/rag_solution/generation/audio/factory.py
  backend/rag_solution/generation/audio/openai_audio.py
  backend/rag_solution/repository/podcast_repository.py
  backend/rag_solution/router/podcast_router.py
  backend/rag_solution/schemas/podcast_schema.py
  backend/rag_solution/services/podcast_service.py
  backend/rag_solution/utils/script_parser.py
  backend/tests/unit/test_podcast_service_unit.py
  docs/features/index.md
  docs/features/podcast-generation.md
  env.example
Due: check-test-isolation, check-strangler-compliance

hotfix: Support SKIP_AUTH mode in podcast authentication
  backend/rag_solution/core/dependencies.py
Due: check-strangler-compliance

refactor: Move mock user values from hardcoded to config
  backend/core/config.py
  backend/rag_solution/core/dependencies.py
  env.example
Due: check-strangler-compliance

fix: Pass settings parameter to get_current_user() in all callers
  backend/rag_solution/core/dependencies.py
Due: check-strangler-compliance

fix: Make user_id optional in podcast request (auto-filled from auth)
  backend/rag_solution/router/podcast_router.py
  backend/rag_solution/schemas/podcast_schema.py
Due: check-strangler-compliance

feat: Streamline Makefile and enhance README with IBM MCP best practices (#348)
  Makefile
  README.md
Due: none

fix: Update Makefile tests for streamlined targets
  tests/test_makefile_targets_direct.py
Due: none

fix: Address code review feedback for Makefile streamlining
  .gitignore
  Makefile
  tests/test_makefile_targets_direct.py
Due: none

fix: Complete podcast generation pipeline fixes
  backend/rag_solution/router/podcast_router.py
  backend/rag_solution/schemas/prompt_template_schema.py
  backend/rag_solution/services/pipeline_service.py
  backend/rag_solution/services/podcast_service.py
  backend/rag_solution/services/storage/audio_storage.py
  backend/rag_solution/services/user_provider_service.py
  backend/rag_solution/services/user_service.py
Due: check-strangler-compliance

fix: Update CI workflows for streamlined Makefile targets
  .github/workflows/dev-environment-ci.yml
  .github/workflows/makefile-testing.yml
Due: none

fix: Address PR review comments on mock user data consistency
  backend/core/mock_auth.py
  backend/rag_solution/schemas/podcast_schema.py
Due: check-strangler-compliance

fix: Add missing Any import in podcast_service.py
  backend/rag_solution/services/podcast_service.py
Due: check-strangler-compliance

fix: Fix user_id variable scope issues in podcast_service.py
  backend/rag_solution/services/podcast_service.py
  backend/tests/atomic/test_podcast_schemas_atomic.py
Due: check-test-isolation, check-strangler-compliance

feat: Streamline Makefile and enhance README with IBM MCP best practices (#348) (#359)
  .github/workflows/dev-environment-ci.yml
  .github/workflows/makefile-testing.yml
  .gitignore
  Makefile
  README.md
  tests/test_makefile_targets_direct.py
Due: none

fix: Fix unit test failures in podcast and user services
  backend/tests/unit/test_podcast_service_unit.py
  backend/tests/unit/test_user_service_tdd.py
Due: check-test-isolation, check-strangler-compliance

fix: Update test_user_service_unit to expect 3 templates
  backend/tests/unit/test_user_service_unit.py
Due: check-test-isolation, check-strangler-compliance

Hotfix/skip auth podcast (#358)
  backend/core/config.py
  backend/core/mock_auth.py
  backend/rag_solution/core/dependencies.py
  backend/rag_solution/router/podcast_router.py
  backend/rag_solution/schemas/podcast_schema.py
  backend/rag_solution/schemas/prompt_template_schema.py
  backend/rag_solution/services/pipeline_service.py
  backend/rag_solution/services/podcast_service.py
  backend/rag_solution/services/storage/audio_storage.py
  backend/rag_solution/services/user_provider_service.py
  backend/rag_solution/services/user_service.py
  backend/tests/atomic/test_podcast_schemas_atomic.py
  backend/tests/unit/test_podcast_service_unit.py
  backend/tests/unit/test_user_service_tdd.py
  backend/tests/unit/test_user_service_unit.py
  env.example
Due: check-test-isolation, check-strangler-compliance

feat: Major podcast UI improvements and authentication fixes
  .gitignore
  Makefile
  PODCAST_FIXES_SUMMARY.md
  backend/core/config.py
  backend/rag_solution/core/dependencies.py
  backend/tests/PODCAST_DURATION_CONTROL_ANALYSIS.md
  backend/tests/atomic/test_podcast_duration_atomic.py
  backend/tests/unit/test_podcast_audio_serving_unit.py
  backend/tests/unit/test_podcast_duration_control_unit.py
  frontend/src/components/layout/LightweightSidebar.tsx
  frontend/src/components/podcasts/LightweightPodcastDetail.tsx
  frontend/src/components/podcasts/LightweightPodcasts.tsx
  frontend/src/components/podcasts/PodcastAudioPlayer.tsx
  frontend/src/components/podcasts/PodcastGenerationModal.tsx
  frontend/src/components/podcasts/PodcastQuestionInjectionModal.tsx
  frontend/src/components/podcasts/PodcastTranscriptViewer.tsx
  frontend/src/contexts/AuthContext.tsx
  frontend/src/services/apiClient.ts
Due: check-test-isolation, check-strangler-compliance

chore: Ignore frontend build artifacts
  .gitignore
Due: none

fix: Resolve merge conflicts and address all code review issues (PR #360)
  .github/workflows/dev-environment-ci.yml
  .github/workflows/makefile-testing.yml
  .gitignore
  AGENTS.md
  CHANGELOG.md
  Makefile
  PODCAST_FIXES_SUMMARY.md
  README.md
  backend/rag_solution/core/dependencies.py
  backend/rag_solution/router/podcast_router.py
  backend/rag_solution/schemas/podcast_schema.py
  backend/rag_solution/services/podcast_service.py
  docs/features/podcast-fixes-pr360.md
  frontend/src/components/podcasts/LightweightPodcasts.tsx
  frontend/src/contexts/AuthContext.tsx
  tests/test_makefile_targets_direct.py
Due: check-strangler-compliance

Fix Pydantic v2 ClassVar annotation for VALID_VOICE_IDS
  backend/rag_solution/schemas/podcast_schema.py
Due: check-strangler-compliance

Fix pytest fixture names in test_podcast_duration_control_unit.py
  backend/tests/unit/test_podcast_duration_control_unit.py
Due: check-test-isolation, check-strangler-compliance

Fix PromptTemplateService mocking in podcast duration control tests
  backend/tests/unit/test_podcast_duration_control_unit.py
Due: check-test-isolation, check-strangler-compliance

Address remaining code review items from PR #360
  backend/rag_solution/core/dependencies.py
  backend/rag_solution/services/podcast_service.py
  frontend/src/components/podcasts/LightweightPodcasts.tsx
Due: check-strangler-compliance

feat: Major podcast UI improvements and authentication fixes (#360)
  .gitignore
  AGENTS.md
  CHANGELOG.md
  PODCAST_FIXES_SUMMARY.md
  backend/core/config.py
  backend/rag_solution/core/dependencies.py
  backend/rag_solution/router/podcast_router.py
  backend/rag_solution/schemas/podcast_schema.py
  backend/rag_solution/services/podcast_service.py
  backend/tests/PODCAST_DURATION_CONTROL_ANALYSIS.md
  backend/tests/atomic/test_podcast_duration_atomic.py
  backend/tests/unit/test_podcast_audio_serving_unit.py
  backend/tests/unit/test_podcast_duration_control_unit.py
  docs/features/podcast-fixes-pr360.md
  frontend/src/components/layout/LightweightSidebar.tsx
  frontend/src/components/podcasts/LightweightPodcastDetail.tsx
  frontend/src/components/podcasts/LightweightPodcasts.tsx
  frontend/src/components/podcasts/PodcastAudioPlayer.tsx
  frontend/src/components/podcasts/PodcastGenerationModal.tsx
  frontend/src/components/podcasts/PodcastQuestionInjectionModal.tsx
  frontend/src/components/podcasts/PodcastTranscriptViewer.tsx
  frontend/src/contexts/AuthContext.tsx
  frontend/src/services/apiClient.ts
Due: check-test-isolation, check-strangler-compliance

fix: Resolve PID file path resolution in local-dev-all target
  Makefile
Due: none

fix: Resolve PID file path resolution in local-dev-all target (#366)
  Makefile
Due: none

feat: Add AI-assisted development workflow with Gemini and Claude
  .github/workflows/gemini-issue-implementer.yml
  .github/workflows/gemini-issue-planner.yml
  AI_WORKFLOW_SETUP_COMPLETE.md
  CLAUDE.md
  docs/development/AI_WORKFLOW_QUICKSTART.md
  docs/development/ai-assisted-workflow.md
Due: none

feat: Add critical safety features to AI workflow
  .github/workflows/claude-code-review.yml
  .github/workflows/gemini-issue-implementer.yml
  .github/workflows/gemini-issue-planner.yml
Due: none

feat: Add AI-assisted development workflow (Gemini + Claude) (#367)
  .github/workflows/claude-code-review.yml
  .github/workflows/gemini-issue-implementer.yml
  .github/workflows/gemini-issue-planner.yml
  AI_WORKFLOW_SETUP_COMPLETE.md
  CLAUDE.md
  docs/development/AI_WORKFLOW_QUICKSTART.md
  docs/development/ai-assisted-workflow.md
Due: none

fix: Replace non-existent Gemini action with OpenAI Codex action
  .github/workflows/gemini-issue-implementer.yml
  .github/workflows/gemini-issue-planner.yml
Due: none

fix: Replace non-existent Gemini action with OpenAI Codex action (#368)
  .github/workflows/gemini-issue-implementer.yml
  .github/workflows/gemini-issue-planner.yml
Due: none

fix: Add issue context to Codex planner prompt
  .github/workflows/gemini-issue-planner.yml
Due: none

fix: Add issue context to Codex planner prompt (#369)
  .github/workflows/gemini-issue-planner.yml
Due: none

fix: Change planner safety strategy to allow gh commands
  .github/workflows/gemini-issue-planner.yml
Due: none

fix: Change Codex planner safety strategy to allow gh commands
  .github/workflows/gemini-issue-planner.yml
Due: none

fix: Change Codex planner safety strategy to allow gh commands (#370)
  .github/workflows/gemini-issue-planner.yml
Due: none

Path conditions:
  python-poetry-check: any of: ^backend/(pyproject\.toml|poetry\.lock)$
  validate-ci-environment-fixes: any of: ^(backend/auth/oidc\.py|backend/core/authentication_middleware\.py|docker-compose\.yml|\.github/workflows/ci\.yml|\.env\.ci)$
  check-test-isolation: any of: ^backend/tests/.*\.py$
  check-strangler-compliance: any of: ^(backend|scripts)/.*\.py$
