Repository manavgup/rag_modulo: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-ci-locally, python-poetry-check, validate-ci-environment-fixes, check-test-isolation, check-strangler-compliance

validate-ci-locally:
  name: Validate CI workflows can run locally
  entry: ./scripts/validate-ci.sh
  language: script
  pass_filenames: false

python-poetry-check:
  name: Check poetry configuration
  entry: bash -c 'cd backend && poetry check'
  language: system
  pass_filenames: false

validate-ci-environment-fixes:
  name: Validate CI environment configuration
  entry: python scripts/validate_ci_fixes.py
  language: system
  pass_filenames: false

check-test-isolation:
  name: Check test isolation violations
  entry: python scripts/check_test_isolation.py
  language: system
  pass_filenames: false

check-strangler-compliance:
  name: Check strangler pattern compliance for new/modified files
  entry: python scripts/check_strangler_compliance.py
  language: system
  pass_filenames: false

fix: Move uuid imports to runtime scope for SQLAlchemy models
  backend/rag_solution/models/user_collection.py
  backend/rag_solution/models/user_team.py
  backend/scripts/check_uuid_imports.py
Due: check-strangler-compliance

fix: Resolve multiple test failures
  backend/tests/atomic/test_cli_core.py
  backend/tests/e2e/test_cli_e2e.py
  backend/tests/integration/test_cli_integration.py
  backend/tests/unit/test_settings_dependency_injection.py
Due: check-test-isolation, check-strangler-compliance

fix: Resolve test isolation violations in CLI tests
  backend/tests/e2e/test_cli_e2e.py
  backend/tests/integration/test_cli_integration.py
Due: check-test-isolation, check-strangler-compliance

feat: Complete comprehensive CLI implementation
  .linting-progress.json
  backend/pyproject.toml
  backend/rag_solution/cli/admin_cli.py
  backend/rag_solution/cli/commands/__init__.py
  backend/rag_solution/cli/commands/base.py
  backend/rag_solution/cli/commands/collections.py
  backend/rag_solution/cli/commands/pipelines.py
  backend/rag_solution/cli/commands/providers.py
  backend/rag_solution/cli/commands/users.py
  backend/rag_solution/cli/config.py
  backend/rag_solution/cli/main.py
  backend/rag_solution/cli/search_cli.py
  backend/tests/unit/test_cli_atomic.py
  docs/cli/index.md
Due: python-poetry-check, check-test-isolation, check-strangler-compliance

fix: Replace non-existent github/codespace-action with GitHub CLI
  .github/workflows/codespace-testing.yml
  .github/workflows/codespace-validation.yml
  .github/workflows/pr-codespace.yml
Due: validate-ci-locally

fix: Correct GitHub CLI commands for Codespace workflows
  .github/workflows/codespace-testing.yml
  .github/workflows/codespace-validation.yml
  .github/workflows/pr-codespace.yml
Due: validate-ci-locally

fix: Add GitHub CLI authentication to Codespace workflows
  .github/workflows/codespace-testing.yml
  .github/workflows/codespace-validation.yml
  .github/workflows/pr-codespace.yml
Due: validate-ci-locally

fix: Fix GitHub Actions workflow issues for Codespace testing
  .github/workflows/codespace-testing.yml
  .github/workflows/codespace-validation.yml
  .github/workflows/makefile-testing.yml
  .github/workflows/pr-codespace.yml
  tests/test_makefile_targets_direct.py
Due: validate-ci-locally

refactor: Replace Codespace creation with Dev Container testing in CI/CD
  .github/workflows/codespace-testing.yml
  .github/workflows/codespace-validation.yml
  .github/workflows/devcontainer-ci.yml
  .github/workflows/pr-codespace.yml
  .github/workflows/pr-devcontainer-info.yml
Due: validate-ci-locally

fix: Replace devcontainers/ci with custom Dev Environment testing
  .github/workflows/dev-environment-ci.yml
  .github/workflows/devcontainer-ci.yml
Due: validate-ci-locally

fix: Remove JSON comments from devcontainer.json
  .devcontainer/devcontainer.json
Due: none

fix: Handle missing environment files in CI/CD workflow
  .github/workflows/dev-environment-ci.yml
Due: validate-ci-locally

fix: Create required volume directories in CI/CD workflow
  .github/workflows/dev-environment-ci.yml
Due: validate-ci-locally

fix: Add missing volumes/backend directory and fix docker compose syntax
  .github/workflows/dev-environment-ci.yml
Due: validate-ci-locally

fix: additional linting improvements and file updates
  .linting-progress.json
  backend/core/mock_auth.py
  backend/main.py
  backend/rag_solution/cli/admin_cli.py
  backend/rag_solution/cli/commands/auth.py
  backend/rag_solution/cli/commands/documents.py
  backend/rag_solution/cli/main.py
  backend/rag_solution/core/dependencies.py
  backend/rag_solution/data_ingestion/chunking.py
  backend/rag_solution/data_ingestion/excel_processor.py
  backend/rag_solution/data_ingestion/ingestion.py
  backend/rag_solution/data_ingestion/pdf_processor.py
  backend/rag_solution/data_ingestion/txt_processor.py
  backend/rag_solution/data_ingestion/word_processor.py
  backend/rag_solution/evaluation/evaluator.py
  backend/rag_solution/router/search_router.py
  backend/vectordbs/utils/watsonx_refactored.py
Due: check-strangler-compliance

feat: Add TDD Red Phase tests for pipeline resolution architecture
  backend/tests/atomic/test_pipeline_resolution_atomic.py
  backend/tests/cli/test_search_commands_pipeline_resolution.py
  backend/tests/e2e/test_workflow_pipeline_resolution_e2e.py
  backend/tests/integration/test_pipeline_resolution_integration.py
  backend/tests/models/test_collection_default_pipeline.py
  backend/tests/services/test_pipeline_resolution_service.py
  backend/tests/services/test_search_service_pipeline_resolution.py
Due: check-test-isolation, check-strangler-compliance

Revert "feat: Add TDD Red Phase tests for pipeline resolution architecture"
  backend/tests/atomic/test_pipeline_resolution_atomic.py
  backend/tests/cli/test_search_commands_pipeline_resolution.py
  backend/tests/e2e/test_workflow_pipeline_resolution_e2e.py
  backend/tests/integration/test_pipeline_resolution_integration.py
  backend/tests/models/test_collection_default_pipeline.py
  backend/tests/services/test_pipeline_resolution_service.py
  backend/tests/services/test_search_service_pipeline_resolution.py
Due: check-test-isolation, check-strangler-compliance

feat: Add TDD Red Phase tests for simplified pipeline resolution architecture
  backend/tests/atomic/test_search_input_schema_simplified.py
  backend/tests/atomic/test_search_validation.py
  backend/tests/cli/test_search_commands_simplified.py
  backend/tests/integration/test_search_pipeline_resolution_integration.py
  backend/tests/unit/test_pipeline_service_signature_update.py
  backend/tests/unit/test_search_service_pipeline_resolution.py
Due: check-test-isolation, check-strangler-compliance

Path conditions:
  validate-ci-locally: any of: ^\.github/workflows/.*\.ya?ml$
  python-poetry-check: any of: ^backend/(pyproject\.toml|poetry\.lock)$
  validate-ci-environment-fixes: any of: ^(backend/auth/oidc\.py|backend/core/authentication_middleware\.py|docker-compose\.yml|\.github/workflows/ci\.yml|\.env\.ci)$
  check-test-isolation: any of: ^backend/tests/.*\.py$
  check-strangler-compliance: any of: ^(backend|scripts)/.*\.py$
