Repository manavgup/rag_modulo: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-ci-locally, python-poetry-check, validate-ci-environment-fixes, check-test-isolation, check-strangler-compliance

validate-ci-locally:
  name: Validate CI workflows can run locally
  entry: ./scripts/validate-ci.sh
  language: script
  pass_filenames: false

python-poetry-check:
  name: Check poetry configuration
  entry: bash -c 'cd backend && poetry check'
  language: system
  pass_filenames: false

validate-ci-environment-fixes:
  name: Validate CI environment configuration
  entry: python scripts/validate_ci_fixes.py
  language: system
  pass_filenames: false

check-test-isolation:
  name: Check test isolation violations
  entry: python scripts/check_test_isolation.py
  language: system
  pass_filenames: false

check-strangler-compliance:
  name: Check strangler pattern compliance for new/modified files
  entry: python scripts/check_strangler_compliance.py
  language: system
  pass_filenames: false

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: validate-ci-locally

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: validate-ci-locally

fix: resolve WatsonX response truncation in CLI path
  backend/rag_solution/generation/providers/watsonx.py
  backend/rag_solution/services/search_service.py
Due: check-strangler-compliance

feat: Add TDD Red Phase tests for Chain of Thought reasoning (Issue #136)
  backend/tests/atomic/test_chain_of_thought_schemas.py
  backend/tests/e2e/test_chain_of_thought_e2e.py
  backend/tests/integration/test_chain_of_thought_integration.py
  backend/tests/unit/test_chain_of_thought_service_tdd.py
Due: check-test-isolation, check-strangler-compliance

feat: Update CoT tests and config for always-on architecture (Issue #136)
  backend/core/config.py
  backend/tests/e2e/test_chain_of_thought_e2e.py
  backend/tests/unit/test_core_config.py
  env.example
Due: check-test-isolation, check-strangler-compliance

chore: Update linting progress tracking
  .linting-progress.json
Due: none

chore: Remove .env.backup file containing secrets and add to gitignore
  .gitignore
Due: none

fix: Align GitHub workflow files with main branch and update .gitignore
  .gitignore
Due: none

Add seamless integration tests for Search + CoT + Conversation
  .linting-progress.json
  SEAMLESS_INTEGRATION_EPIC_FOR_ISSUE_229.md
  backend/TDD_RED_PHASE_CHAT_CONVERSATION_SUMMARY.md
  backend/debug_milvus.py
  backend/debug_model_config.py
  backend/debug_retrieval.py
  backend/tests/api/test_chat_router_tdd.py
  backend/tests/atomic/test_conversation_atomic_tdd.py
  backend/tests/e2e/test_conversation_e2e_tdd.py
  backend/tests/e2e/test_seamless_workflow_tdd.py
  backend/tests/integration/test_context_flow_tdd.py
  backend/tests/integration/test_conversation_integration_tdd.py
  backend/tests/integration/test_seamless_integration_tdd.py
  backend/tests/unit/test_conversation_service_tdd.py
  backend/tests/unit/test_conversation_session_models_tdd.py
  backend/tests/unit/test_conversation_unit_tdd.py
  docs/features/chat-with-documents/index.md
  docs/features/chat-with-documents/schemas.md
  docs/features/chat-with-documents/services.md
Due: check-test-isolation, check-strangler-compliance

Implement seamless integration between Conversation, Search, and CoT services
  .linting-progress.json
  SEAMLESS_INTEGRATION_EPIC_FOR_ISSUE_229.md
  backend/TDD_RED_PHASE_CHAT_CONVERSATION_SUMMARY.md
  backend/main.py
  backend/rag_solution/router/chat_router.py
  backend/rag_solution/schemas/conversation_schema.py
  backend/rag_solution/schemas/search_schema.py
  backend/rag_solution/services/chain_of_thought_service.py
  backend/rag_solution/services/context_manager_service.py
  backend/rag_solution/services/conversation_service.py
  backend/rag_solution/services/question_suggestion_service.py
  backend/rag_solution/services/search_service.py
  backend/tests/api/test_chat_router_tdd.py
  backend/tests/atomic/test_conversation_atomic_tdd.py
  backend/tests/e2e/test_conversation_e2e_tdd.py
  backend/tests/integration/test_conversation_integration_tdd.py
  backend/tests/unit/test_conversation_service_tdd.py
  backend/tests/unit/test_conversation_session_models_tdd.py
  backend/tests/unit/test_conversation_unit_tdd.py
  docs/features/chat-with-documents/index.md
  docs/features/chat-with-documents/schemas.md
  docs/features/chat-with-documents/services.md
Due: check-test-isolation, check-strangler-compliance

Complete atomic tests and create CLI test for integrated conversation experience
  backend/dev_tests/manual/test_conversation_with_documents.py
  backend/rag_solution/core/exceptions.py
  backend/rag_solution/schemas/conversation_schema.py
  backend/tests/atomic/test_conversation_atomic_tdd.py
Due: check-test-isolation, check-strangler-compliance

Fix CLI test UUID handling and JSON request format
  backend/dev_tests/manual/test_conversation_with_documents.py
  backend/rag_solution/router/chat_router.py
Due: check-strangler-compliance

chore: Clean up remaining files and finalize implementation
  .linting-progress.json
  backend/TOKEN_TRACKING_IMPLEMENTATION_PLAN.md
  backend/debug_token_tracking.py
  backend/fix_database_schema.py
  backend/rag_solution/repository/conversation_message_repository.py
  backend/rag_solution/repository/conversation_session_repository.py
  backend/rag_solution/repository/conversation_summary_repository.py
  backend/rag_solution/repository/token_warning_repository.py
  backend/rag_solution/router/token_warning_router.py
  backend/rag_solution/services/conversation_summarization_service.py
  backend/rag_solution/services/token_tracking_service.py
  backend/tests/e2e/test_token_tracking_e2e_tdd.py
  backend/tests/integration/test_token_tracking_integration_tdd.py
  backend/tests/unit/test_conversation_service_simple.py
  backend/tests/unit/test_llm_provider_token_tracking_tdd.py
  temp_mock_file.txt
  test_process_endpoint.py
  ui_ux_issue.md
Due: check-test-isolation, check-strangler-compliance

fix: secure chat router endpoints with proper authentication
  backend/rag_solution/router/chat_router.py
Due: check-strangler-compliance

📚 Documentation Enhancement: Align with MCP Context Forge Standards
  README.md
  backend/rag_solution/services/conversation_service.py
  docs/features/index.md
  docs/getting-started.md
  docs/index.md
  docs/roadmap.md
  docs/troubleshooting/common-issues.md
  mkdocs.yml
Due: check-strangler-compliance

Fix GitHub Codespaces environment configuration
  .devcontainer/devcontainer.json
  .env.codespaces
  .linting-progress.json
  CODESPACES_ENV_CONFIGURATION_ISSUE.md
  PODCAST_FEATURE_GITHUB_ISSUE.md
  backend/core/config.py
  docker-compose.dev.yml
Due: check-strangler-compliance

Fix incomplete IBM WatsonX credentials in env.example
  env.example
Due: none

Implement hybrid environment configuration approach
  .devcontainer/devcontainer.json
  CODESPACES_ENV_CONFIGURATION_ISSUE.md
  PODCAST_FEATURE_GITHUB_ISSUE.md
  env.example
Due: none

Remove redundant .env.codespaces file
  .env.codespaces
Due: none

Fix environment configuration issues
  docker-compose.dev.yml
  env.example
Due: none

Remove WATSONX_URL from repository secrets
  .devcontainer/devcontainer.json
Due: none

Revert JWT validation changes - keep PR focused on Codespaces fix
  backend/core/config.py
Due: check-strangler-compliance

Revert database credential changes - keep PR focused on Codespaces fix
  backend/core/config.py
Due: check-strangler-compliance

Remove podcast feature configuration - keep PR focused on Codespaces fix
  backend/core/config.py
  env.example
Due: check-strangler-compliance

Fix Codespaces workspace directory issue
  .devcontainer/devcontainer.json
  docker-compose.dev.yml
Due: none

Fix Codespaces .env file timing issue
  .devcontainer/devcontainer.json
Due: none

feat(ralph): add feature-first Ralph workflow, prompts, specs, and orchestrators
  .ralph/prompts/implement.md
  .ralph/prompts/implement_features.md
  .ralph/prompts/plan.md
  .ralph/prompts/plan_features.md
  .ralph/prompts/plan_test_optimization.md
  .ralph/prompts/research.md
  .ralph/prompts/research_features.md
  .ralph/prompts/research_test_optimization.md
  PROMPT_FEATURE_DEVELOPMENT.md
  fix_plan.md
  specs/backend/architecture.md
  specs/frontend/architecture.md
  specs/rag_core/functionality.md
  specs/tests/coverage.md
Due: none

feat(ralph): add documentation generation and maintenance prompts
  .ralph/prompts/implement_documentation.md
  .ralph/prompts/implement_features.md
  .ralph/prompts/plan_documentation.md
  .ralph/prompts/research_documentation.md
  .ralph/prompts/research_features.md
  scripts/ralph-docs.sh
Due: none

feat(ralph): add issue-specific prompts for #242, #243, #244
  .ralph/prompts/research_issues.md
  PROMPT_ISSUES.md
Due: none

feat(ralph): update prompts to discover and prioritize GitHub issues after #242, #243, #244
  .ralph/prompts/research_github_issues.md
  .ralph/prompts/research_issues.md
  PROMPT_ISSUES.md
Due: none

fix: Standardize import sorting across backend codebase
  .ralph/prompts/implement.md
  .ralph/prompts/implement_documentation.md
  .ralph/prompts/implement_features.md
  .ralph/prompts/plan.md
  .ralph/prompts/plan_documentation.md
  .ralph/prompts/plan_features.md
  .ralph/prompts/plan_test_optimization.md
  .ralph/prompts/research.md
  .ralph/prompts/research_documentation.md
  .ralph/prompts/research_features.md
  .ralph/prompts/research_github_issues.md
  .ralph/prompts/research_issues.md
  .ralph/prompts/research_test_optimization.md
  backend/fix_remaining_schemas.py
Due: check-strangler-compliance

feat: Add Ralph + ACE-FCA pattern implementation
  .ralph/README.md
  .ralph/current_context.md
  .ralph/current_phase.md
  .ralph/plan_complete.md
  .ralph/plan_complete_issue_243.md
  .ralph/progress.md
  .ralph/prompts/implement_issues.md
  .ralph/prompts/plan_issues.md
  .ralph/research_complete.md
  .ralph/research_complete_issue_242.md
  AGENTS.md
  ralph-runner.sh
Due: none

Path conditions:
  validate-ci-locally: any of: ^\.github/workflows/.*\.ya?ml$
  python-poetry-check: any of: ^backend/(pyproject\.toml|poetry\.lock)$
  validate-ci-environment-fixes: any of: ^(backend/auth/oidc\.py|backend/core/authentication_middleware\.py|docker-compose\.yml|\.github/workflows/ci\.yml|\.env\.ci)$
  check-test-isolation: any of: ^backend/tests/.*\.py$
  check-strangler-compliance: any of: ^(backend|scripts)/.*\.py$
