Repository manavgup/rag_modulo: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-poetry-check, validate-ci-environment-fixes, check-test-isolation, check-strangler-compliance

python-poetry-check:
  name: Check poetry configuration
  entry: bash -c 'cd backend && poetry check'
  language: system
  pass_filenames: false

validate-ci-environment-fixes:
  name: Validate CI environment configuration
  entry: python scripts/validate_ci_fixes.py
  language: system
  pass_filenames: false

check-test-isolation:
  name: Check test isolation violations
  entry: python scripts/check_test_isolation.py
  language: system
  pass_filenames: false

check-strangler-compliance:
  name: Check strangler pattern compliance for new/modified files
  entry: python scripts/check_strangler_compliance.py
  language: system
  pass_filenames: false
  stages:
  - push

fix: Pass GH_TOKEN to Codex sandbox for issue comments
  .github/workflows/gemini-issue-planner.yml
Due: none

fix: Pass GH_TOKEN environment variable to Codex sandbox
  .github/workflows/gemini-issue-planner.yml
Due: none

fix: Pass GH_TOKEN environment variable to Codex sandbox (#371)
  .github/workflows/gemini-issue-planner.yml
Due: none

fix: Resolve TypeScript null role error and UUID format issue
  backend/rag_solution/core/dependencies.py
  env.example
  frontend/src/contexts/AuthContext.tsx
Due: check-strangler-compliance

fix: Pass GH_TOKEN to Codex implementer sandbox
  .github/workflows/gemini-issue-implementer.yml
Due: none

fix: Pass GH_TOKEN to Codex implementer sandbox (#373)
  .github/workflows/gemini-issue-implementer.yml
Due: none

fix: Include implementation plan in Codex prompt
  .github/workflows/gemini-issue-implementer.yml
Due: none

fix: Include implementation plan in Codex prompt (#374)
  .github/workflows/gemini-issue-implementer.yml
Due: none

fix: Build Codex prompt in bash script to properly include implementation plan
  .github/workflows/gemini-issue-implementer.yml
Due: none

fix: Build Codex prompt in bash script to properly include implementation plan (#375)
  .github/workflows/gemini-issue-implementer.yml
Due: none

fix: Use printf instead of echo for multi-line PLAN variable
  .github/workflows/gemini-issue-implementer.yml
Due: none

fix: Use printf instead of echo for multi-line PLAN variable (#376)
  .github/workflows/gemini-issue-implementer.yml
Due: none

feat: Replace OpenAI Codex with Anthropic Claude API
  .github/workflows/gemini-issue-implementer.yml
Due: none

"Update Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: none

"Update Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: none

feat: Switch from Anthropic API to Claude Code Action for implementation
  .github/workflows/claude-issue-implementer.yml
  .github/workflows/gemini-issue-implementer.yml
  AI_WORKFLOW_SETUP_COMPLETE.md
  docs/development/ai-assisted-workflow.md
Due: none

feat: Replace OpenAI Codex with Anthropic Claude API (#377)
  .github/workflows/claude-issue-implementer.yml
  AI_WORKFLOW_SETUP_COMPLETE.md
  docs/development/ai-assisted-workflow.md
Due: none

fix: Use direct_prompt instead of prompt for Claude Code Action
  .github/workflows/claude-issue-implementer.yml
Due: none

fix: Use direct_prompt instead of prompt for Claude Code Action (#379)
  .github/workflows/claude-issue-implementer.yml
Due: none

Add Claude Code GitHub Workflow (#378)
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: none

fix: Remove invalid 'mode: direct' parameter
  .github/workflows/claude-issue-implementer.yml
Due: none

fix: Remove invalid 'mode: direct' parameter (#380)
  .github/workflows/claude-issue-implementer.yml
Due: none

fix: Apply ruff formatting to file size calculation code
  backend/rag_solution/repository/collection_repository.py
  backend/rag_solution/repository/file_repository.py
  backend/tests/unit/test_file_size_calculation.py
Due: check-test-isolation, check-strangler-compliance

chore: Remove broken AI workflow files and labels
  .github/workflows/claude-issue-implementer.yml
  .github/workflows/gemini-issue-planner.yml
Due: none

chore: Remove broken AI workflow files and labels (#382)
  .github/workflows/claude-issue-implementer.yml
  .github/workflows/gemini-issue-planner.yml
  backend/rag_solution/repository/collection_repository.py
  backend/rag_solution/repository/file_repository.py
  backend/rag_solution/schemas/collection_schema.py
  backend/rag_solution/schemas/file_schema.py
  backend/tests/unit/test_file_size_calculation.py
  frontend/src/services/apiClient.ts
Due: check-test-isolation, check-strangler-compliance

fix: Fix YAML lint errors and combine Claude workflows
  .github/workflows/03-build-secure.yml
  .github/workflows/06-weekly-security-audit.yml
  .github/workflows/ai-issue-triage.yml
  .github/workflows/claude-assistant.yml
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
  .github/workflows/codespace-testing.yml
  .github/workflows/pr-devcontainer-info.yml
Due: none

fix: Fix YAML lint errors and combine Claude workflows (#383)
  .github/workflows/03-build-secure.yml
  .github/workflows/06-weekly-security-audit.yml
  .github/workflows/ai-issue-triage.yml
  .github/workflows/claude-assistant.yml
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
  .github/workflows/codespace-testing.yml
  .github/workflows/pr-devcontainer-info.yml
Due: none

fix: Handle null role in AuthContext mapBackendRole function
  frontend/src/contexts/AuthContext.tsx
Due: none

fix: Add UUID validation and error handling for user authentication
  backend/rag_solution/router/conversation_router.py
  backend/rag_solution/router/podcast_router.py
Due: check-strangler-compliance

fix: Prevent infinite loop in podcasts by checking user ID before API call
  frontend/src/components/podcasts/LightweightPodcasts.tsx
Due: none

refactor: Remove hardcoded UUID from IdentityService.get_mock_user_id()
  backend/core/identity_service.py
Due: check-strangler-compliance

fix: Remove duplicate test run in pytest workflow
  .github/workflows/04-pytest.yml
Due: none

feat: Implement clean authentication bypass architecture
  backend/core/config.py
  backend/core/mock_auth.py
  backend/main.py
  backend/rag_solution/core/dependencies.py
  backend/rag_solution/router/auth_router.py
  docs/cli/index.md
  docs/configuration.md
  docs/features/authentication-bypass.md
  env.example
  frontend/src/contexts/AuthContext.tsx
  frontend/src/services/apiClient.ts
Due: check-strangler-compliance

feat: Implement clean authentication bypass architecture (#388)
  backend/core/config.py
  backend/core/identity_service.py
  backend/core/mock_auth.py
  backend/main.py
  backend/rag_solution/core/dependencies.py
  backend/rag_solution/router/auth_router.py
  backend/rag_solution/router/conversation_router.py
  backend/rag_solution/router/podcast_router.py
  docs/cli/index.md
  docs/configuration.md
  docs/features/authentication-bypass.md
  env.example
  frontend/src/components/podcasts/LightweightPodcasts.tsx
  frontend/src/contexts/AuthContext.tsx
  frontend/src/services/apiClient.ts
Due: check-strangler-compliance

feat: Comprehensive podcast generation enhancements and UI improvements
  Makefile
  backend/core/config.py
  backend/rag_solution/core/dependencies.py
  backend/rag_solution/generation/audio/base.py
  backend/rag_solution/generation/providers/watsonx.py
  backend/rag_solution/repository/podcast_repository.py
  backend/rag_solution/router/podcast_router.py
  backend/rag_solution/schemas/llm_parameters_schema.py
  backend/rag_solution/schemas/podcast_schema.py
  backend/rag_solution/services/podcast_service.py
  backend/rag_solution/services/search_service.py
  backend/rag_solution/services/system_initialization_service.py
  frontend/src/components/collections/LightweightCollectionDetail.tsx
  frontend/src/components/podcasts/LightweightPodcastDetail.tsx
  frontend/src/components/podcasts/LightweightPodcasts.tsx
  frontend/src/components/podcasts/PodcastGenerationModal.tsx
  frontend/src/components/podcasts/PodcastQuestionInjectionModal.tsx
  frontend/src/components/podcasts/VoiceSelector.tsx
  frontend/src/services/apiClient.ts
Due: check-strangler-compliance

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: none

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: none

Add Claude Code GitHub Workflow (#397)
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: none

fix: Update tests to match podcast implementation changes
  backend/rag_solution/schemas/podcast_schema.py
  backend/rag_solution/services/podcast_service.py
  backend/tests/unit/test_podcast_service_unit.py
Due: check-test-isolation, check-strangler-compliance

Path conditions:
  python-poetry-check: any of: ^backend/(pyproject\.toml|poetry\.lock)$
  validate-ci-environment-fixes: any of: ^(backend/auth/oidc\.py|backend/core/authentication_middleware\.py|docker-compose\.yml|\.github/workflows/ci\.yml|\.env\.ci)$
  check-test-isolation: any of: ^backend/tests/.*\.py$
  check-strangler-compliance: any of: ^(backend|scripts)/.*\.py$
