Repository manavgup/rag_modulo: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-ci-locally, python-poetry-check, validate-ci-environment-fixes, check-test-isolation, check-strangler-compliance

.pre-commit-config.yaml:

# Pre-commit hooks configuration
repos:
  # Basic file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: ['--unsafe']  # Allow custom YAML tags in GitHub Actions
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: check-toml
      - id: check-json
      - id: debug-statements  # Find forgotten print/pdb statements
      - id: mixed-line-ending
        args: ['--fix=lf']

  # Python linting and formatting - Ruff (fast, modern, handles both)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.11
    hooks:
      - id: ruff
        args: ['--fix', '--line-length=200', '--config', 'backend/pyproject.toml']
        files: ^backend/
      - id: ruff-format
        args: ['--line-length=200', '--config', 'backend/pyproject.toml']
        files: ^backend/

  # Python type checking - MyPy
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.13.0
    hooks:
      - id: mypy
        args: [
          '--disable-error-code=misc',
          '--disable-error-code=unused-ignore',
          '--no-strict-optional',
          'backend/'
        ]
        additional_dependencies:
          - pydantic>=2.0
          - types-setuptools
          - types-PyYAML
          - sqlalchemy>=2.0.0
          - types-aiofiles
          - types-PyJWT
          - types-requests
          - pandas-stubs
          - types-click
          - fastapi
          - starlette
          - pydantic-settings
          - rich
          - authlib
          - scikit-learn
          - pymupdf
          - python-docx
          - pytest
          - chromadb
          - ibm-watsonx-ai
          - tenacity
          - weaviate-client
          - pinecone
          - pymilvus
          - elasticsearch
          - openai
          - anthropic
          - json-repair
          - validators
          - httpx
        files: ^backend/
        pass_filenames: false

  # GitHub Workflow validation
  - repo: https://github.com/sirosen/check-jsonschema
    rev: 0.28.0
    hooks:
      - id: check-github-workflows
        args: ["--verbose"]

  # Local validation
  - repo: local
    hooks:
      - id: validate-ci-locally
        name: Validate CI workflows can run locally
        entry: ./scripts/validate-ci.sh
        language: script
        files: ^\.github/workflows/.*\.ya?ml$
        pass_filenames: false

      - id: python-poetry-check
        name: Check poetry configuration
        entry: bash -c 'cd backend && poetry check'
        language: system
        files: ^backend/(pyproject\.toml|poetry\.lock)$
        pass_filenames: false

      - id: validate-ci-environment-fixes
        name: Validate CI environment configuration
        entry: python scripts/validate_ci_fixes.py
        language: system
        files: ^(backend/auth/oidc\.py|backend/core/authentication_middleware\.py|docker-compose\.yml|\.github/workflows/ci\.yml|\.env\.ci)$
        pass_filenames: false

      - id: check-test-isolation
        name: Check test isolation violations
        entry: python scripts/check_test_isolation.py
        language: system
        files: ^backend/tests/.*\.py$
        pass_filenames: false

      - id: check-strangler-compliance
        name: Check strangler pattern compliance for new/modified files
        entry: python scripts/check_strangler_compliance.py
        language: system
        files: ^(backend|scripts)/.*\.py$
        pass_filenames: false

chore: Remove unused fix_remaining_schemas.py file
  backend/fix_remaining_schemas.py
Due: check-strangler-compliance

fix: Move check_phase_advancement function before main loop
  ralph-runner.sh
Due: none

feat: Update linting instructions in Ralph prompts
  .ralph/plan_complete_issue_243.md
  .ralph/prompts/implement_issues.md
  .ralph/prompts/plan_issues.md
Due: none

fix: Update CI/CD workflows for frontend directory structure
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  frontend/Dockerfile.frontend
Due: validate-ci-locally, validate-ci-environment-fixes

fix: Add pytest-asyncio dependency to makefile-testing workflow
  .github/workflows/makefile-testing.yml
  pytest.ini
Due: validate-ci-locally

fix: Use Poetry instead of pip in makefile-testing workflow
  .github/workflows/makefile-testing.yml
Due: validate-ci-locally

fix: Update frontend Dockerfile path to Dockerfile.frontend
  .github/workflows/k8s-deploy-production.yml
  .github/workflows/k8s-deploy-staging.yml
Due: validate-ci-locally

feat: Implement Phase 1 Advanced RAG - Reranking and Hierarchical Chunking (#257)
  .linting-progress.json
  backend/core/config.py
  backend/rag_solution/data_ingestion/base_processor.py
  backend/rag_solution/data_ingestion/chunking.py
  backend/rag_solution/data_ingestion/hierarchical_chunking.py
  backend/rag_solution/data_ingestion/txt_processor.py
  backend/rag_solution/retrieval/reranker.py
  backend/rag_solution/schemas/prompt_template_schema.py
  backend/rag_solution/services/pipeline_service.py
  backend/rag_solution/services/search_service.py
  backend/tests/unit/test_conversation_service_simple.py
  backend/tests/unit/test_hierarchical_chunking.py
  backend/tests/unit/test_reranker.py
  backend/vectordbs/data_types.py
  frontend/src/components/search/LightweightSearchInterface.tsx
  frontend/src/services/apiClient.ts
Due: check-test-isolation, check-strangler-compliance

chore: Remove .linting-progress.json from repository (should be gitignored)
  .linting-progress.json
Due: none

feat: Add IBM Docling integration for enhanced document processing (#255)
  .linting-progress.json
  backend/core/config.py
  backend/dev_tests/manual/test_docling_debug.py
  backend/dev_tests/manual/test_pdf_comparison.py
  backend/poetry.lock
  backend/pyproject.toml
  backend/rag_solution/data_ingestion/docling_processor.py
  backend/rag_solution/data_ingestion/document_processor.py
  backend/tests/unit/test_docling_processor.py
  docs/issues/IMPLEMENTATION_PLAN_ISSUE_255.md
Due: python-poetry-check, check-test-isolation, check-strangler-compliance

docs: Add podcast feature documentation and TDD implementation details
  DEFENSIVE_PROGRAMMING_AUDIT.md
  PODCAST.md
  PODCAST_FRONTEND_IMPLEMENTATION.md
  backend/TDD_RED_PHASE_PODCAST.md
Due: none

fix: Auto-fix import sorting and formatting issues
  backend/rag_solution/services/podcast_service.py
Due: check-strangler-compliance

fix: resolve merge failures for podcast and docling integration
  backend/MERGE_FAILURES_ANALYSIS_AND_FIXES.md
  backend/check_document_content.py
  backend/check_template.py
  backend/fix_enum_migration.py
  backend/fix_rag_template.py
  backend/main.py
  backend/poetry.toml
  backend/tests/integration/test_router_registration_integration.py
  backend/update_rag_template.py
  logs/rag_modulo.log.5
Due: check-test-isolation, check-strangler-compliance

fix: correct podcast router API prefix
  backend/rag_solution/router/podcast_router.py
Due: check-strangler-compliance

cleanup: remove redundant tracked files
  .env.example
  CLAUDE.md
  CLI_TEST_OPTIMIZATION.md
  SERVICE_TEST_COVERAGE_ANALYSIS.md
  claudeDevInstructions.md
  claudeDev_Docs/ROADMAP.md
  claudeDev_Docs/claudeDevInstructions.md
  claudeDev_Docs/designDocumentSummary.md
  claudeDev_Docs/devNotes.md
  claudeDev_Docs/sprintDocs/01_projectSetup.md
  claudeDev_Docs/sprintDocs/02_backendSetup.md
  claudeDev_Docs/sprintDocs/03_frontendStructure.md
  claudeDev_Docs/sprintDocs/04_coreFunctionality.md
  claudeDev_Docs/sprintDocs/05_dataIntegration.md
  claudeDev_Docs/sprintDocs/06_refinementAndPolish.md
  claudeDev_Docs/sprintDocs/07_deploymentPreparation.md
  claudeDev_Docs/sprintDocs/08_agenticAI.md
  claudeDev_Docs/sprintDocs/DESIGN_CoT_RAG_Enhancement.md
  claudeDev_Docs/techStack.md
  claudeDev_Docs/wireframes.csv
  env.dev.example
Due: none

chore: update .gitignore to prevent junk files
  .gitignore
Due: none

fix: Add disk space cleanup to dev-environment-ci workflow
  .github/workflows/dev-environment-ci.yml
Due: validate-ci-locally

fix: Add disk space cleanup to all Docker build workflows
  .github/workflows/ci.yml
  .github/workflows/k8s-deploy-production.yml
  .github/workflows/k8s-deploy-staging.yml
  .github/workflows/test-disk-cleanup.yml
Due: validate-ci-locally, validate-ci-environment-fixes

docs: Add comprehensive AGENTS.md documentation system
  .github/AGENTS_README.md
  AGENTS.md
  backend/AGENTS.md
  backend/rag_solution/AGENTS.md
  backend/rag_solution/models/AGENTS.md
  backend/rag_solution/repository/AGENTS.md
  backend/rag_solution/router/AGENTS.md
  backend/rag_solution/schemas/AGENTS.md
  backend/rag_solution/services/AGENTS.md
  frontend/AGENTS.md
  frontend/src/components/AGENTS.md
Due: none

fix: Make K8s staging deployment conditional on cluster availability
  .github/workflows/k8s-deploy-staging.yml
Due: validate-ci-locally

fix: add disk space cleanup to K8s deployment workflows
  .github/workflows/k8s-deploy-production.yml
  .github/workflows/k8s-deploy-staging.yml
Due: validate-ci-locally

fix: Resolve CI/CD workflow issues in PR #261
  .github/workflows/k8s-deploy-staging.yml
  deployment/helm/rag-modulo/templates/_helpers.tpl
  deployment/helm/rag-modulo/templates/backend-deployment.yaml
  deployment/helm/rag-modulo/templates/backend-service.yaml
  deployment/helm/rag-modulo/templates/configmap.yaml
  deployment/helm/rag-modulo/templates/frontend-deployment.yaml
  deployment/helm/rag-modulo/templates/frontend-service.yaml
  deployment/helm/rag-modulo/templates/hpa.yaml
  deployment/helm/rag-modulo/templates/ingress.yaml
  deployment/helm/rag-modulo/templates/namespace.yaml
Due: validate-ci-locally

feat: Add IBM Code Engine deployment workflow with local testing
  .github/workflows/ibm-code-engine-staging.yml
  .github/workflows/k8s-deploy-staging.yml
  .gitignore
  CLAUDE.md
  docs/deployment/ibm-code-engine-quickstart.md
  docs/development/testing-workflows-locally.md
  scripts/test-workflows.sh
Due: validate-ci-locally

feat: Add automated IBM Code Engine secrets creation script
  .gitignore
  docs/deployment/ibm-code-engine-quickstart.md
  scripts/ibm-create-secrets.sh
Due: none

fix: Replace local disk cache with GHA cache to prevent disk space issues
  .github/workflows/ibm-code-engine-staging.yml
Due: validate-ci-locally

perf: Optimize IBM Code Engine deployment by using pre-built images
  .github/workflows/ibm-code-engine-staging.yml
Due: validate-ci-locally

fix: Remove resource group from IBM Cloud login
  .github/workflows/ibm-code-engine-staging.yml
Due: validate-ci-locally

fix: Auto-detect and target resource group for Code Engine
  .github/workflows/ibm-code-engine-staging.yml
Due: validate-ci-locally

feat: Add complete IBM Cloud OpenShift infrastructure setup
  .gitignore
  Makefile
  deployment/scripts/setup-ibm-openshift.sh
Due: none

fix: Use lite (free) plan for COS to avoid prompts
  deployment/scripts/setup-ibm-openshift.sh
Due: none

fix: Remove COS dependency - OpenShift uses internal registry
  deployment/scripts/setup-ibm-openshift.sh
Due: none

fix: Add COS creation with standard plan for OpenShift registry
  deployment/scripts/setup-ibm-openshift.sh
Due: none

fix: Use fixed COS instance name 'rag-modulo-cos'
  deployment/scripts/setup-ibm-openshift.sh
Due: none

feat: Add OpenShift deployment automation with future Terraform/Ansible migration plan
  .env.ci
  .env.example
  .github/workflows/openshift-staging.yml
  .gitignore
  .pre-commit-config.yaml
  DEPLOYMENT_PROGRESS.md
  Makefile
  deployment/README.md
  deployment/helm/rag-modulo/templates/backend-deployment.yaml
  deployment/helm/rag-modulo/templates/frontend-deployment.yaml
  deployment/helm/rag-modulo/values.yaml
  deployment/openshift/backend-alias.yaml
  deployment/openshift/etcd.yaml
  deployment/openshift/milvus.yaml
  deployment/openshift/minio.yaml
  deployment/openshift/postgresql.yaml
  deployment/openshift/routes.yaml
  deployment/scripts/deploy-openshift-staging.sh
  deployment/scripts/setup-ibm-openshift.sh
  logs/rag_modulo.log.2
  logs/rag_modulo.log.3
  logs/rag_modulo.log.4
Due: validate-ci-locally, validate-ci-environment-fixes
