Repository manavgup/rag_modulo: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-poetry-check, validate-ci-environment-fixes, check-test-isolation, check-strangler-compliance

Path conditions:
  python-poetry-check: any of: ^backend/(pyproject\.toml|poetry\.lock)$
  validate-ci-environment-fixes: any of: ^(backend/auth/oidc\.py|backend/core/authentication_middleware\.py|docker-compose\.yml|\.github/workflows/ci\.yml|\.env\.ci)$
  check-test-isolation: any of: ^backend/tests/.*\.py$
  check-strangler-compliance: any of: ^(backend|scripts)/.*\.py$

refactor: Address code review feedback from PR #396
  backend/rag_solution/generation/providers/watsonx.py
  backend/rag_solution/router/podcast_router.py
  backend/rag_solution/services/podcast_service.py
  backend/rag_solution/services/search_service.py
  backend/tests/unit/test_podcast_script_endpoints.py
Due: check-test-isolation, check-strangler-compliance

test: Fix podcast endpoint tests to match schema requirements
  backend/tests/unit/test_podcast_script_endpoints.py
Due: check-test-isolation, check-strangler-compliance

test: Fix datetime mock in test_script_to_audio_success
  backend/tests/unit/test_podcast_script_endpoints.py
Due: check-test-isolation, check-strangler-compliance

feat: Comprehensive podcast generation enhancements and UI improvements (#396)
  Makefile
  backend/core/config.py
  backend/rag_solution/core/dependencies.py
  backend/rag_solution/generation/audio/base.py
  backend/rag_solution/generation/providers/watsonx.py
  backend/rag_solution/repository/podcast_repository.py
  backend/rag_solution/router/podcast_router.py
  backend/rag_solution/schemas/llm_parameters_schema.py
  backend/rag_solution/schemas/podcast_schema.py
  backend/rag_solution/services/podcast_service.py
  backend/rag_solution/services/search_service.py
  backend/rag_solution/services/system_initialization_service.py
  backend/tests/unit/test_podcast_script_endpoints.py
  backend/tests/unit/test_podcast_service_unit.py
  frontend/src/components/collections/LightweightCollectionDetail.tsx
  frontend/src/components/podcasts/LightweightPodcastDetail.tsx
  frontend/src/components/podcasts/LightweightPodcasts.tsx
  frontend/src/components/podcasts/PodcastGenerationModal.tsx
  frontend/src/components/podcasts/PodcastQuestionInjectionModal.tsx
  frontend/src/components/podcasts/VoiceSelector.tsx
  frontend/src/services/apiClient.ts
Due: check-test-isolation, check-strangler-compliance

fix: Remove duplicate test run in pytest workflow (#386)
  .github/workflows/04-pytest.yml
Due: none

chore: Ignore frontend build artifacts (#365)
  .gitignore
Due: none

fix: Add write permissions to Claude workflow for commenting
  .github/workflows/claude.yml
Due: none

fix: Fix YAML linting errors in workflow files
  .github/workflows/ai-issue-triage.yml
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: none

fix: Add github_token to claude-code-review workflow
  .github/workflows/claude-code-review.yml
Due: none

fix: Add write permissions to Claude workflow for commenting (#398)
  .github/workflows/ai-issue-triage.yml
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: none

fix(nginx): resolve backend IP dynamically to prevent 502 errors
  frontend/default.conf
Due: none

feat(dev): streamline container-based development with make dev target
  Makefile
Due: none

chore: Repository cleanup and merge with main
  .gitignore
  CLAUDE.md
  CLI_TEST_OPTIMIZATION.md
  SERVICE_TEST_COVERAGE_ANALYSIS.md
  claudeDevInstructions.md
  claudeDev_Docs/ROADMAP.md
  claudeDev_Docs/claudeDevInstructions.md
  claudeDev_Docs/designDocumentSummary.md
  claudeDev_Docs/devNotes.md
  claudeDev_Docs/sprintDocs/01_projectSetup.md
  claudeDev_Docs/sprintDocs/02_backendSetup.md
  claudeDev_Docs/sprintDocs/03_frontendStructure.md
  claudeDev_Docs/sprintDocs/04_coreFunctionality.md
  claudeDev_Docs/sprintDocs/05_dataIntegration.md
  claudeDev_Docs/sprintDocs/06_refinementAndPolish.md
  claudeDev_Docs/sprintDocs/07_deploymentPreparation.md
  claudeDev_Docs/sprintDocs/08_agenticAI.md
  claudeDev_Docs/sprintDocs/DESIGN_CoT_RAG_Enhancement.md
  claudeDev_Docs/techStack.md
  claudeDev_Docs/wireframes.csv
  env.dev.example
  env.example
Due: none

chore: Repository cleanup and merge with main (#401)
  .gitignore
  CLAUDE.md
  CLI_TEST_OPTIMIZATION.md
  SERVICE_TEST_COVERAGE_ANALYSIS.md
  claudeDevInstructions.md
  claudeDev_Docs/ROADMAP.md
  claudeDev_Docs/claudeDevInstructions.md
  claudeDev_Docs/designDocumentSummary.md
  claudeDev_Docs/devNotes.md
  claudeDev_Docs/sprintDocs/01_projectSetup.md
  claudeDev_Docs/sprintDocs/02_backendSetup.md
  claudeDev_Docs/sprintDocs/03_frontendStructure.md
  claudeDev_Docs/sprintDocs/04_coreFunctionality.md
  claudeDev_Docs/sprintDocs/05_dataIntegration.md
  claudeDev_Docs/sprintDocs/06_refinementAndPolish.md
  claudeDev_Docs/sprintDocs/07_deploymentPreparation.md
  claudeDev_Docs/sprintDocs/08_agenticAI.md
  claudeDev_Docs/sprintDocs/DESIGN_CoT_RAG_Enhancement.md
  claudeDev_Docs/techStack.md
  claudeDev_Docs/wireframes.csv
  env.dev.example
  env.example
Due: none

feat: Add reusable UI components for consistent look and feel (#395)
  frontend/src/components/modals/LightweightCreateCollectionModal.tsx
  frontend/src/components/ui/Badge.tsx
  frontend/src/components/ui/Button.tsx
  frontend/src/components/ui/Card.tsx
  frontend/src/components/ui/FileUpload.tsx
  frontend/src/components/ui/Input.tsx
  frontend/src/components/ui/Modal.tsx
  frontend/src/components/ui/README.md
  frontend/src/components/ui/Select.tsx
  frontend/src/components/ui/TextArea.tsx
  frontend/src/components/ui/index.ts
Due: none

docs: Add frontend development documentation for UI components (#395)
  docs/development/frontend/index.md
  docs/development/frontend/ui-components.md
  mkdocs.yml
Due: none

fix: Address PR review items for UI components (#395)
  frontend/src/components/ui/Button.tsx
  frontend/src/components/ui/FileUpload.tsx
  frontend/src/components/ui/Input.tsx
  frontend/src/components/ui/Modal.tsx
  frontend/src/components/ui/Select.tsx
  frontend/src/components/ui/TextArea.tsx
Due: none

feat: Add reusable UI components for consistent look and feel (#395) (#402)
  docs/development/frontend/index.md
  docs/development/frontend/ui-components.md
  frontend/src/components/modals/LightweightCreateCollectionModal.tsx
  frontend/src/components/ui/Badge.tsx
  frontend/src/components/ui/Button.tsx
  frontend/src/components/ui/Card.tsx
  frontend/src/components/ui/FileUpload.tsx
  frontend/src/components/ui/Input.tsx
  frontend/src/components/ui/Modal.tsx
  frontend/src/components/ui/README.md
  frontend/src/components/ui/Select.tsx
  frontend/src/components/ui/TextArea.tsx
  frontend/src/components/ui/index.ts
  mkdocs.yml
Due: none

docs: Update AGENTS.md and CHANGELOG.md with Issue #395 status
  AGENTS.md
  CHANGELOG.md
Due: none

docs: Update AGENTS.md and CHANGELOG.md with Issue #395 status (#403)
  AGENTS.md
  CHANGELOG.md
Due: none

feat: Add secure IBM Cloud Code Engine deployment workflow
  .github/workflows/deploy_code_engine.yml
  Dockerfile.codeengine
Due: none

fix: Address all PR feedback for Code Engine deployment
  .github/workflows/deploy_code_engine.yml
  Dockerfile.codeengine
  scripts/deploy_codeengine.sh
Due: none

fix: Address critical and high-priority feedback for deployment
  .github/workflows/deploy_code_engine.yml
  Dockerfile.codeengine
  scripts/deploy_codeengine.sh
Due: none

docs: Update README with CI/CD badges, UI components, and improved installation instructions
  README.md
Due: none

fix: Resolve 5 failing unit tests
  backend/core/identity_service.py
  backend/rag_solution/generation/providers/openai.py
  backend/tests/unit/test_file_size_calculation.py
  backend/tests/unit/test_search_service.py
  backend/tests/unit/test_settings_dependency_injection.py
Due: check-test-isolation, check-strangler-compliance

chore: Remove tracked log files from git
  logs/rag_modulo.log.4
  logs/rag_modulo.log.5
Due: none

refactor: Replace PID file tracking with HTTP health checks
  .gitignore
  Makefile
Due: none

refactor: Replace PID file tracking with HTTP health checks (#408)
  .gitignore
  Makefile
Due: none

feat: Complete IBM Cloud Code Engine deployment with infrastructure
  .coverage.Manavs-MacBook-Pro.local.36389.XNSeFZax
  .env.act
  .github/workflows/deploy_code_engine.yml
  .github/workflows/deploy_complete_app.yml
  .gitignore
  DEPLOYMENT_TEST_RESULTS.md
  Dockerfile.codeengine
  PR_405_IMPLEMENTATION_SUMMARY.md
  claude-assistant.yml
  docs/deployment/ibm-cloud-code-engine.md
  docs/deployment/index.md
  docs/deployment/testing-guide.md
  docs/index.md
  mkdocs.yml
  scripts/deploy_codeengine.sh
  scripts/deploy_frontend_codeengine.sh
  scripts/deploy_infrastructure_codeengine.sh
Due: none

docs: Update README with CI/CD badges, UI components, and improved installation instructions (#406)
  README.md
Due: none

fix: Address critical PR review issues
  .env.act
  .github/workflows/deploy_complete_app.yml
  .gitignore
  Dockerfile.codeengine
  scripts/deploy_codeengine.sh
Due: none

fix: Use correct project name 'rag-modulo' instead of 'rag-modulo-test-project'
  scripts/deploy_codeengine.sh
  scripts/deploy_infrastructure_codeengine.sh
Due: none

fix: Resolve 5 failing unit tests (#407)
  backend/core/identity_service.py
  backend/rag_solution/generation/providers/openai.py
  backend/tests/unit/test_file_size_calculation.py
  backend/tests/unit/test_search_service.py
  backend/tests/unit/test_settings_dependency_injection.py
  logs/rag_modulo.log.4
  logs/rag_modulo.log.5
Due: check-test-isolation, check-strangler-compliance

refactor: Move deployment scripts to .github/scripts/ for better CI/CD architecture
  .github/workflows/deploy_complete_app.yml
  scripts/deploy_codeengine.sh
  scripts/deploy_frontend_codeengine.sh
  scripts/deploy_infrastructure_codeengine.sh
Due: none

feat: rename deployment scripts to include codeengine suffix
  .github/workflows/deploy_complete_app.yml
Due: none

feat: Add database models and schemas for custom voice upload feature (#394)
  .coverage.Manavs-MacBook-Pro.local.36389.XNSeFZax
  CUSTOM_VOICE_IMPLEMENTATION_PROGRESS.md
  PODCAST_FIXES_SUMMARY.md
  backend/rag_solution/models/__init__.py
  backend/rag_solution/models/user.py
  backend/rag_solution/models/voice.py
  backend/rag_solution/schemas/voice_schema.py
  fix_plan.md
Due: check-strangler-compliance

feat: Add Secure IBM Cloud Code Engine Deployment (#405)
  .coverage.Manavs-MacBook-Pro.local.36389.XNSeFZax
  .github/workflows/deploy_code_engine.yml
  .github/workflows/deploy_complete_app.yml
  .gitignore
  DEPLOYMENT_TEST_RESULTS.md
  Dockerfile.codeengine
  PR_405_IMPLEMENTATION_SUMMARY.md
  claude-assistant.yml
  docs/deployment/ibm-cloud-code-engine.md
  docs/deployment/index.md
  docs/deployment/testing-guide.md
  docs/index.md
  mkdocs.yml
Due: none

feat: Consolidate file storage with voice-specific methods (#394)
  backend/rag_solution/repository/voice_repository.py
  backend/rag_solution/services/file_management_service.py
Due: check-strangler-compliance
