Repository manavgup/rag_modulo: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-ci-locally, python-poetry-check

.pre-commit-config.yaml:

# Pre-commit hooks configuration
repos:
  # Basic file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: ['--unsafe']  # Allow custom YAML tags in GitHub Actions
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: check-toml
      - id: check-json
      - id: debug-statements  # Find forgotten print/pdb statements
      - id: mixed-line-ending
        args: ['--fix=lf']

  # Python linting and formatting - Ruff (fast, modern, handles both)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.11
    hooks:
      - id: ruff
        args: ['--fix', '--exit-non-zero-on-fix', '--line-length=120']
        files: ^backend/
      - id: ruff-format
        args: ['--line-length=120']
        files: ^backend/
        
  # Python type checking - MyPy
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        args: [
          '--ignore-missing-imports',
          '--disable-error-code=misc',
          '--disable-error-code=unused-ignore',
          '--no-strict-optional'
        ]
        additional_dependencies:
          - pydantic>=2.0
          - types-setuptools
          - types-PyYAML
          - sqlalchemy-stubs
        files: ^backend/
        pass_filenames: true

  # GitHub Workflow validation
  - repo: https://github.com/sirosen/check-jsonschema
    rev: 0.28.0
    hooks:
      - id: check-github-workflows
        args: ["--verbose"]

  # Local validation
  - repo: local
    hooks:
      - id: validate-ci-locally
        name: Validate CI workflows can run locally
        entry: ./scripts/validate-ci.sh
        language: script
        files: ^\.github/workflows/.*\.ya?ml$
        pass_filenames: false
        
      - id: python-poetry-check
        name: Check poetry configuration
        entry: bash -c 'cd backend && poetry check'
        language: system
        files: ^backend/(pyproject\.toml|poetry\.lock)$
        pass_filenames: false

Remove problematic CI stages for stability
  .github/workflows/ci.yml
Due: validate-ci-locally

Fix Docker registry and CI build issues
  .github/workflows/ci.yml
  .github/workflows/publish.yml
Due: validate-ci-locally

Improve Docker registry authentication handling
  .github/workflows/publish.yml
Due: validate-ci-locally

Remove continue-on-error from publish workflow
  .github/workflows/publish.yml
Due: validate-ci-locally

fix: Convert repository name to lowercase for GHCR compatibility
  .github/workflows/publish.yml
Due: validate-ci-locally

fix: Correct GHCR repository naming from rag-modulo to rag_modulo
  .github/workflows/publish.yml
Due: validate-ci-locally

fix: resolve critical security vulnerabilities and linting issues
  backend/.coverage.Manavs-MacBook-Pro.local.1192.XxrUScqx
  backend/poetry.lock
  backend/pyproject.toml
  backend/rag_solution/ci_cd/health_checker.py
  backend/rag_solution/generation/providers/anthropic.py
  backend/rag_solution/generation/providers/factory.py
  backend/rag_solution/generation/providers/openai.py
  backend/rag_solution/generation/providers/watsonx.py
  backend/rag_solution/models/collection.py
  backend/rag_solution/models/llm_parameters.py
  backend/rag_solution/models/question.py
  backend/rag_solution/models/user_collection.py
  backend/rag_solution/models/user_team.py
  backend/rag_solution/router/llm_provider_router.py
  backend/rag_solution/services/pipeline_service.py
  backend/tests/ci_cd/test_ci_performance_scalability.py
  backend/tests/ci_cd/test_environment_validation.py
  backend/tests/ci_cd/test_local_development_infrastructure.py
  backend/tests/ci_cd/test_precommit_enforcement.py
  backend/tests/ci_cd/test_service_health_checks.py
  backend/tests/evaluation/test_evaluation.py
  backend/tests/evaluation/test_evaluator.py
  backend/tests/fixtures/pipelines.py
  backend/tests/integration/test_pipeline_flow.py
  backend/tests/service/test_factories.py
  backend/tests/service/test_retriever.py
  backend/tests/services/test_question_service.py
  backend/tests/unit/test_watsonx.py
  webui/package-lock.json
  webui/package.json
Due: python-poetry-check

fix: resolve SQLAlchemy Mapped[datetime] and Mapped[uuid.UUID] type resolution errors
  backend/rag_solution/models/collection.py
  backend/rag_solution/models/llm_parameters.py
  backend/rag_solution/models/question.py
  backend/rag_solution/models/user_collection.py
  backend/rag_solution/models/user_team.py
Due: none

Add comprehensive edge case tests for Issue #160 - Search debug functionality
  backend/tests/api/test_search_debug_edge_cases.py
Due: none

Fix fixture dependencies and imports for test_search_debug_edge_cases.py
  backend/tests/api/test_search_debug_edge_cases.py
Due: none

Complete TDD red phase for Issue #160 - Search debug functionality
  backend/tests/api/test_search_debug_edge_cases.py
Due: none

feat: Complete Issue #160 - Debug search functionality and implement comprehensive test coverage
  backend/Dockerfile.test
  backend/rag_solution/data_ingestion/txt_processor.py
  backend/rag_solution/doc_utils.py
  backend/rag_solution/generation/providers/watsonx.py
  backend/rag_solution/models/collection.py
  backend/rag_solution/models/llm_parameters.py
  backend/rag_solution/models/question.py
  backend/rag_solution/models/user_collection.py
  backend/rag_solution/models/user_team.py
  backend/rag_solution/schemas/llm_provider_schema.py
  backend/rag_solution/services/pipeline_service.py
  backend/rag_solution/services/search_service.py
  backend/rag_solution/services/user_provider_service.py
  backend/tests/api/test_search_debug_edge_cases.py
  backend/tests/fixtures/collections.py
  backend/tests/fixtures/files.py
  backend/tests/fixtures/llm.py
  backend/tests/fixtures/services.py
  backend/vectordbs/milvus_store.py
Due: none

📚 Add comprehensive test optimization roadmap
  docs/tests/API_ROUTER_SERVICE_OVERLAP_ANALYSIS.md
  docs/tests/CI_CD_WORKFLOW_MODIFICATIONS.md
  docs/tests/FIXTURE_CENTRALIZATION_STRATEGY.md
  docs/tests/FIXTURE_MIGRATION_MAPPING.md
  docs/tests/IMPLEMENTATION_ROADMAP.md
  docs/tests/MASTER_TEST_OPTIMIZATION_ROADMAP.md
  docs/tests/SERVICE_DIRECTORY_DUPLICATION_ANALYSIS.md
  docs/tests/TEST_FILE_CONSOLIDATION_PLAN.md
  docs/tests/TEST_INFRASTRUCTURE_REFACTORING_PLAN.md
Due: none

📚 Add project documentation and development files
  .gitignore
  backend/rag_solution/docs/development_prompt.md
  backend/rag_solution/docs/question_suggestion.md
  backend/rag_solution/docs/todo.md
  docs/BUILDKIT_FIX.md
  docs/DEVELOPMENT.md
  docs/HYBRID_DEVELOPMENT_SUMMARY.md
  docs/TESTING_PHASES.md
  docs/fixes/CI_ENVIRONMENT_FIX.md
  docs/fixes/TEST_ISOLATION.md
  docs/fixes/TEST_MARKER_STANDARDIZATION.md
  docs/tests/MASTER_TEST_OPTIMIZATION_ROADMAP.md
  docs/tests/TEST_FILE_CONSOLIDATION_PLAN.md
Due: none

feat: Complete Phase 1 of test infrastructure refactoring (Issue #187)
  backend/fixture_analysis_report.md
  backend/fixture_mapping.json
  backend/rag_solution/models/collection.py
  backend/rag_solution/models/llm_parameters.py
  backend/rag_solution/models/question.py
  backend/rag_solution/models/user_collection.py
  backend/rag_solution/models/user_team.py
  backend/rag_solution/services/pipeline_service.py
  backend/rag_solution/services/user_provider_service.py
  backend/tests/atomic/conftest.py
  backend/tests/atomic/test_data_validation.py
  backend/tests/ci_cd/test_environment_validation.py
  backend/tests/ci_cd/test_local_development_infrastructure.py
  backend/tests/ci_cd/test_precommit_enforcement.py
  backend/tests/data_ingestion/test_pdf_processor.py
  backend/tests/e2e/conftest.py
  backend/tests/e2e/test_auth_router.py
  backend/tests/e2e/test_health_router.py
  backend/tests/e2e/test_search_debug_edge_cases.py
  backend/tests/evaluation/test_evaluation.py
  backend/tests/evaluation/test_evaluator.py
  backend/tests/fixture_migration_mapping.txt
  backend/tests/fixtures/__init__.py
  backend/tests/fixtures/atomic.py
  backend/tests/fixtures/e2e.py
  backend/tests/fixtures/integration.py
  backend/tests/fixtures/llm.py
  backend/tests/fixtures/llm_parameter.py
  backend/tests/fixtures/registry.py
  backend/tests/fixtures/services.py
  backend/tests/fixtures/unit.py
  backend/tests/integration/conftest.py
  backend/tests/integration/test_document_processors.py
  scripts/analyze_fixtures.py
  scripts/consolidate_fixtures.py
Due: none

docs: Update all test documentation with Phase 1 completion status
  docs/tests/CI_CD_WORKFLOW_MODIFICATIONS.md
  docs/tests/FIXTURE_CENTRALIZATION_STRATEGY.md
  docs/tests/IMPLEMENTATION_ROADMAP.md
  docs/tests/MASTER_TEST_OPTIMIZATION_ROADMAP.md
  docs/tests/PHASE_1_COMPLETION_STATUS.md
  docs/tests/TEST_FILE_CONSOLIDATION_PLAN.md
  docs/tests/TEST_INFRASTRUCTURE_REFACTORING_PLAN.md
Due: none

feat: Complete Week 2 targets - Service consolidation and E2E refactoring (Issue #187)
  backend/pytest-atomic-no-stop.ini
  backend/tests/atomic/test_collection_validation.py
  backend/tests/atomic/test_data_validation.py
  backend/tests/atomic/test_search_validation.py
  backend/tests/atomic/test_team_validation.py
  backend/tests/atomic/test_user_validation.py
  backend/tests/e2e/test_search_workflow.py
  backend/tests/e2e_refactoring_report.md
  backend/tests/integration/test_collection_database.py
  backend/tests/integration/test_search_database.py
  backend/tests/integration/test_team_database.py
  backend/tests/integration/test_user_database.py
  backend/tests/service_migration_report.md
  backend/tests/unit/test_collection_service.py
  backend/tests/unit/test_search_service.py
  backend/tests/unit/test_team_service.py
  backend/tests/unit/test_user_service.py
  scripts/consolidate_service_tests.py
  scripts/create_simple_tests.py
  scripts/fix_test_imports.py
  scripts/refactor_large_e2e_tests.py
Due: none

feat: Implement testing pyramid optimization and fix pre-commit issues
  backend/COMPLETE_E2E_ANALYSIS.md
  backend/TESTING_PYRAMID_REFACTORING_SUMMARY.md
  backend/test_refactoring_plan.md
  backend/tests/api/conftest.py
  backend/tests/api/test_search_debug_edge_cases.py
  backend/tests/api/test_search_essential_e2e.py
  backend/tests/atomic/test_search_data_validation.py
  backend/tests/fixtures/integration.py
  backend/tests/fixtures/user.py
  backend/tests/integration/test_search_service_integration.py
  backend/tests/unit/conftest.py
  backend/tests/unit/test_search_business_logic.py
  docs/issues/EPIC-006-integrated-agentic-search-testing.md
  docs/issues/ISSUE-197-comprehensive-current-search-testing.md
Due: none
